{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
    <h1>Log In</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="login-reset">
            <button class="btn btn-success" type="submit">Log In</button>
            <div class="login-forgot-pass">
                <a href="{% url 'account_reset_password' %}">Forgot your password?</a>
            </div>
        </div>
    </form>
{% endblock content %}