h1 {
    color: darkgreen;
}

.bookcover {
    height: 300px;
    width: auto;
}

.container {
    padding-bottom: 20px;
}

.login-reset {
    display: flex;
}

.login-forgot-pass {
    margin-left: 40px;
    margin-top: 15px;
}